html, body {
  width: 100%
}

body { 
  background-color: #000;
}

#camera_container {
  width: 560px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #ffffff;
}

#camera_container img {
  margin-top: 40px;
}

#target {
  position: absolute;
  top: 48%;
  left: 48%;
  width: 10px;
  height: 10px;
  background-color: #ff0000;
    moz-border-radius: 8px;
    webkit-border-radius: 8px;
  border-radius: 8px;
}
